:root {
  --color-brand--1: #a2ba1b;
  --color-brand--2: #11a4a9;

  --color-dark--1: #25292d;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #e8e8e8;
  --color-light--3: #dcdcdc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2rem;

  display: flex;
}

/* Основное */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* Боковая панель */
.sidebar {
  flex-basis: 70rem;
  background-color: var(--color-dark--1);
  padding: 5rem 5rem 3rem 5rem;
  display: flex;
  flex-direction: column;

  font-size: 1.6rem;
}

.icon {
  display: inline-block;
  height: 7.5rem;
  align-self: center;
  /* margin-bottom: 2rem; */
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
  gap: 0.75rem 1.5rem;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  grid-column: 1 / -1;

  font-size: 1.6rem;
  font-weight: 500;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 2rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 3rem 2.5rem 1.5rem 1.5rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 10rem;
  transition:
    all 0.5s,
    transform 1ms;

  position: relative;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn.hidden {
  display: none;
}

.footer__copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.footer__link:link,
.footer__link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.footer__link:hover,
.footer__link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);

  z-index: 10;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

.leaflet-control-zoom a:link,
.leaflet-control-zoom a:visited {
  color: var(--color-dark--1);
}

.workout__btn {
  position: absolute;
  top: 1rem;

  filter: brightness(100);
  opacity: 60%;

  cursor: pointer;
  border: none;
  background: none;

  transition: all 0.2s;
}

.workout__btn:hover {
  transform: scale(1.3);
}
.workout__btn:active {
  transform: scale(0.9);
}

.workout__btn--edit {
  right: 4rem;
}

.workout__btn--remove {
  right: 1rem;
}

.btn {
  cursor: pointer;
  height: 4rem;
  padding: 1rem 1.6rem;

  border: none;
  border-radius: 5px;

  color: var(--color-light--2);
  background-color: var(--color-dark--2);

  transition: all 0.3s;
}

.btn:hover {
  background-color: rgba(63, 70, 77, 0.8);
}

.btn:active {
  transform: translateY(2px);
}

.sidebar__controls {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 2.4rem;
}

.sidebar__controls.hidden {
  display: none;
}

.sidebar__sort--select {
  cursor: pointer;
  appearance: none;
  display: block;
  width: 22rem;
  height: 4rem;
  padding: 0.6rem 1rem;
  color: var(--color-light--2);
  background-color: var(--color-dark--2);

  border: none;
  border-radius: 5px;

  font-size: inherit;

  transition: all 0.3s;
}

.sidebar__sort--select:hover {
  background-color: rgba(63, 70, 77, 0.8);
}

.sidebar__btn--delete-all {
  height: 4rem;
  width: 22rem;

  font-size: inherit;
}

::backdrop {
  backdrop-filter: blur(13px);
}

.popup-confirm {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  border-radius: 5px;

  color: var(--color-light--2);
  background-color: var(--color-dark--1);
  box-shadow: 0 0 2rem 1rem rgba(37, 41, 45, 0.05);

  padding: 3.2rem 4.8rem;
  font-size: 1.6rem;
  font-weight: normal;
}

.popup-confirm h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.popup-confirm__form {
  display: flex;
  gap: 1.5rem;

  margin-top: 1.75rem;
}

.popup-confirm__btn {
  cursor: pointer;
  padding: 1rem;

  border: none;
  border-radius: 5px;

  font-size: 1.6rem;

  transition: all 0.3s;
}

.btn.popup-confirm__btn--ok {
  color: var(--color-dark--1);
  background-color: var(--color-brand--2);
  flex: 1;
}

.btn.popup-confirm__btn--ok:hover {
  background-color: rgba(17, 164, 169, 0.8);
}

.btn.popup-confirm__btn--close {
  flex: 1;
}
